.project-card {
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.project-img {
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:10px;
    margin-bottom:15px;
}

.project-title {
    font-size:1.3rem;
    font-weight:700;
    margin-bottom:10px;
}

.project-desc {
    font-size:1rem;
    line-height:1.5;
    margin-bottom:15px;
}

.view-btn {
    display:inline-block;
    padding:10px 20px;
    background:#4A90E2;
    color:white;
    border-radius:10px;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.view-btn:hover {
    background:#357ABD;
    transform:translateY(-3px);
}
